[submodule "jsetup-utils"]
	path = jsetup-utils
	url = https://github.com/ajnabi-workshop/jsetup-utils.git
[submodule "cardano-ez-installer"]
	path = cardano-ez-installer
	url = https://github.com/ajnabi-workshop/cardano-ez-installer.git
[submodule "cardano-cli-guru"]
	path = cardano-cli-guru
	url = https://github.com/ajnabi-workshop/cardano-cli-guru.git
[submodule "aiken-druid"]
	path = aiken-druid
	url = https://github.com/ajnabi-workshop/aiken-druid.git
